.app {
  max-width: 960px;
  background: #f3f7fa;
  margin: 0 auto;
  box-sizing: border-box;

  &__logo {
    display: block;
    padding: 30px;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    object-fit: none;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.content {
  margin-left: 20px;
}

// .ant-checkbox-group {
//   flex-wrap: wrap;
// }

@media screen and (max-width: 720px) {
  .app {
    max-width: 720px;
  }

  .wrapper {
    width: 100%;
    flex-direction: column;
  }

  .content {
    margin: 0;
  }
}
